{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- {% load static %} -->

{% block content %}
    <div class="container">{% block title %}Login{% endblock %}
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="container mt-5">
        <span class="">
            To request access to this site, please click this link.<br>
        </span>
        <div class="pt-3">
            <a href="{% url 'signup' %}" class="btn btn-success">Signup</a>
        </div>
    </div>
{% endblock content %}
