{% load i18n %}{% autoescape off %}
{% trans "Hi" %} {{ user.get_username }},

    {% trans "We've received a request to reset your password." %}

    {% trans " " %}
    {% trans "If you didn't make this request, you can safely ignore this email." %}

    {% trans "Otherwise, click the link below to reset your password." %}

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}

{% trans "Thanks for using our site!" %}

{% endautoescape %}